#                       **exp1:Study of Python**

Variables and Data Types

In [ ]:
x=3
y="hi..."
z=31.1
print(x)
print(y)
print(z)

3
hi...
31.1

Basic Operations:

arithmatic

In [ ]:
a=30
b=40
print(a+b)
print(b-a)
print(a*b)
print(b/a)

70
10
1200
1.3333333333333333

logical

In [ ]:
a=1
b=0
print(a and b)
print(a or b)
print(not a)

0
1
False

In [ ]:
Control Structures:

if else

In [ ]:
a=22
if(a>18):
 print("you can vote")

else:
 print("you can not vote")

you can vote

loop

In [ ]:
# while
i=1
while i<6 :
 print(i)
 i=i+1;

1
2
3
4
5

In [ ]:
# for
for i in range (1,6) :
  print(i)

1
2
3
4
5

. Functions

In [ ]:
def fun():
    print('Hello')

# call the function
fun()

print('World!')

Hello
World!

Lists, tuple, set, Dictionaries

In [ ]:
l= ["abc", 23, 45.6]
t= (1,2,3)
s={7,8,9}
d= { "name":"xzy",
     "city":"pqr"}
print(l)
print(t)
print(s)
print(d)

['abc', 23, 45.6]
(1, 2, 3)
{8, 9, 7}
{'name': 'xzy', 'city': 'pqr'}

NumPy and Arrays

In [ ]:
import numpy as np
# Creating  Array
arr = np.array([1, 2, 3])
print("Array with:",arr)

Array with: [1 2 3]

Pandas and DataFrames:

In [ ]:
import pandas as pd
df = pd.DataFrame({'X':[1,2,3,4,5], 'Y':[10,20,30,40,50],'Z':[100,200,300,400,500]});
print(df)

   X   Y    Z
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500